In [1]:
# Das ist unser Code

In [2]:
import IPython

import pandas as pd
import matplotlib.pyplot as plt
import qiime2 as q2
import seaborn as sns

import os

import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
PATH = "data/fungut_metadata.tsv"

In [12]:
pd.read_csv(PATH, sep="\t")

,ID,country_sample,state_sample,latitude_sample,longitude_sample,sex_sample,age_years_sample,height_cm_sample,weight_kg_sample,bmi_sample,diet_type_sample,ibd_sample,gluten_sample
0,ERR5327198,USA,TN,36.1,-86.8,female,67,152,41,17.75,Omnivore,I do not have this condition,No
1,ERR5327199,USA,DC,38.9,-77.1,male,55.0,182.0,79.0,23.73,Omnivore,I do not have this condition,I was diagnosed with gluten allergy (anti-glut...
2,ERR5327266,USA,VA,38.9,-77.1,female,28.0,175.0,61.0,19.94,Omnivore,I do not have this condition,I do not eat gluten because it makes me feel bad
3,ERR5327282,United Kingdom,Not provided,51.6,-0.2,female,26.0,166.0,60.0,21.77,Omnivore,I do not have this condition,No
4,ERR5327284,United Kingdom,Not provided,51.5,-0.2,female,25.0,173.0,59.0,20.01,Vegetarian but eat seafood,I do not have this condition,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,ERR5327599,Isle of Man,Not provided,54.2,-4.7,female,58.0,172.0,65.0,21.97,Omnivore,I do not have this condition,No
146,ERR5327604,United Kingdom,Not provided,51.4,-0.4,female,64.0,157.0,60.0,24.19,Omnivore but do not eat red meat,I do not have this condition,No
147,ERR5327605,United Kingdom,Not provided,52.8,-1.3,male,80.0,175.0,73.0,23.77,Vegetarian,I do not have this condition,No
148,ERR5327615,United Kingdom,Not provided,51.8,-1.3,female,53.0,176.0,64.0,20.66,Omnivore,I do not have this condition,No
149,ERR5327620,United Kingdom,Not provided,51.1,-1.3,female,63.0,165.0,74.0,27.18,Vegetarian,I do not have this condition,No